

*{
  margin: 0;
  box-sizing: border-box;
}

p{
  padding:8px;
}

blockquote{
  padding-left: 5px;
  padding-left: 5px;
}
.topLeft{
  float: left;
  height: 40px;
}

.topRight{
  float: right;
  height: 40px;
}

/* CLEARFIX */
.c1::before, .container::after {
    content:"";
    display:table;
}
.c1::after {
    clear:both;
}
.c1 {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
/* END CLEARFIX */

.sideBar{
  float: right;
  height: 100vh;
  width: 25%;
  background-color: rgb(243,243,243);

}
.topBar{

  padding: 15px;
  margin-bottom: 35px;

}
.sideShrink{
  width: 90%;;
 padding: 15px;
}

.orangeBar{
  background-color: goldenrod;
  height: 10px;
}

.mainPage{
  float: left;
  width: 75%;
  border: 14px solid rgb(68,68,68);
  height: 100%;
  padding:25px;
  clear: left;

}
.dateBar{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: rgb(243,243,243);
  clear: left;
  color: rgb(3,169,244);
  font-family: 'Open Sans', sans-serif;

}

.content{
  clear: both;
}
.text{
  font-family: 'Open Sans', sans-serif;
  padding-top: 15px;
  clear: both;
}

}
.hbar{
  padding: 10px;
  margin-bottom: : 20px;

}
#linkButton{
  float: right;
  height: 60px;

}
#date{
color: grey;
}
#logo{
padding-left: 20px;
}

#title{
  padding-bottom: 15px;
  float: left;
  width: 50%;
  font-family: 'Impact';
}

#searchLink{
  height: 40%;
}

#hired{
display: block;
margin: auto;
}

#ad2{
display: block;
margin: auto;

}

#bq{
  padding: 15px;
}

#search{
  height: 35px;
  width: 50px;
  padding-left: 10px;
}
#searchBar{
height: 30px;
width: 200px;
}

@media(max-width: 600px){
  #search{
    display: none;
    width: 25px;
    height: 25px;
  }

  #searchBar{
    display: none;
    height:1em;
    width: 75px;
  }
  #linkButton{
    height: 40px;
  }
  img.topLeft{
      height: 30px;
  }
  .sideBar{
    width: auto;
  }
  .sideBar img{
    /*display:none;*/
    padding: 0;
    margin-left: 0;
    width: 100%;
  }
  #logo{
    height: 30px;
  }
  .hbar{
    font-size: .6em;

  }
  .dateBar{
    font-size: .6em;
  }
  .text{
    font-size: .8em;
  }
  .mainPage{
    width:auto;
  }
}
