body{
  text-align: center;
}

p{
  text-align: center;

  margin-left: 20%


}
.topBar{
  max-height: 1em;

}

.topBarLeft{
  display: inline;
  float: left;

}

.topBarRight{
  display: inline;
  float: right;
}


.TBL-pic{
  max-height: 1em;
  vertical-align: top;

}


#s1{
  /*background-color: red;*/
}
