

.leftBar{
  background-color: green;
  position:absolute;
  top: 10%;
  width: 20%;
  height: 80%;
  bottom: 10%;

}

.rightBar{
  background-color: red;
  position:absolute;
  top: 10%;
  bottom: 10%;
  left: 80%;
  height: 80%;
  width: 20%;
}

.content{
  background-color: yellow;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 20%;
  width: 60%;
  height: 80%;

}

.header{
    background-color: blue;
    position: absolute;
    width: 100%;
    height: 10%;
}

.footer{
    background-color: purple;
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;

}
